$colorPrimary: #116acc;
$colorPrimaryLight: #a0c3ff;
$colorHover: #Cfe1f5;
$colorWhite: #fff;
$colorGrey: #9CA3AF;
$colorGreyDark: #6B7280;
$colorGreyLidht: #F3F4F6;
$colorBlack: #000;
$colorText: #182233;
$colorTextBlack:#374151;
$colorSuccess: #76CA66;
$colorError: #EB5757;
$colorSecondary: #FD4E5D;
$colorSkeleton: #d7dae0;
